* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

:root {
	--main-bgc: #1f2937;
	--hero-main-size: 48px;
	--hero-main-weight: bold;
	--hero-main-color: #f9faf8;
	--hero-secondary-size: 18px;
	--hero-secondary-color: #e5e7eb;
	--header-logo-size: 24px;
	--header-logo-color: #f9faf8;
	--button-color: #3882f6;
	--information-header-size: 36px;
	--information-header-weight: bold;
	--information-header-color: #1f2937;
	--secondary-bgc: #e5e7eb;
	--secondary-text-size: 36px;
	--secondary-text-weight: italic;
	--secondary-text-color: #1f2937;
}

.header__container {
	background-color: var(--main-bgc);
	height: 400px;
}

.header {
	margin: 0px 140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .header__logo {
	font-size: var(--header-logo-size);
	color: var(--header-logo-color);
	margin-top: 10px;
}

.header .header__links {
	display: flex;
	margin-top: 10px;
	gap: 12px;
}

.header .header__links a {
	color: var(--hero-secondary-color);
	font-size: var(--hero-secondary-size);
}

.header__content {
	margin: 80px 140px;
	display: flex;
}

.left-side {
	width: 700px;
}

.header__content .content__header {
	color: var(--hero-main-color);
	font-size: var(--hero-main-size);
	font-weight: var(--hero-main-weight);
}

.header__content .content__p {
	color: var(--hero-secondary-color);
	font-size: var(--hero-secondary-size);
	margin-top: 10px;
}

.header__content .content__btn {
	border: 0px;
	padding: 5px;
	width: 80px;
	height: 30px;
	border-radius: 10px;
	background-color: var(--button-color);
	color: white;
	margin-top: 10px;
	transition: 0.2s;
}

.header__content .content__btn:hover {
	width: 160px;
}

.right__side {
	width: 700px;
	margin-left: 25px;
}

.right__side img {
	width: 670px;
	height: 400px;
}

.main__container {
	margin: 15px;
}

.main__container .main__header {
	color: var(--information-header-color);
	font-size: var(--information-header-size);
	font-weight: var(--information-header-weight);
	text-align: center;
}

.main__container .main__header span {
	color: white;
}

.main__container .main_img_container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 12px 20px;
}

.main_img_container img {
	margin: 10px 20px;
	width: 100px;
	height: 100px;
	border: 1px solid blue;
	border-radius: 10px;
}

.main__container .main_text_container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 20px;
}

.main__container .main_text_container p {
	margin: 5px 15px;
	font-size: 12px;
}

.quote__section {
	background-color: var(--secondary-bgc);
	padding: 15px;
}

.quote__section p {
	margin: 5px 80px;
	font-size: 36px;
	font-style: italic;
	color: #1f2937;
	text-align: center;
}

.quote__section figcaption {
	text-align: end;
	margin-right: 200px;
	font-weight: bold;
	font-size: 18px;
}

.white__blue__container {
	background-color: white;
}

.sign__up__container {
	margin: 90px 360px;
	padding: 60px;
	background-color: var(--button-color);
	display: flex;
	justify-content: space-between;
	border-radius: 26px;
	transition: 0.3s;
}

.sign__up__container:hover {
	padding: 100px;
}

.sign__up__container .text {
	color: white;
}

.sign__up__container button {
	border: 1px solid white;
	padding: 5px;
	width: 180px;
	height: 30px;
	border-radius: 10px;
	background-color: var(--button-color);
	color: white;
	margin-top: 10px;
	transition: 0.3s;
}

.sign__up__container button:hover {
	background-color: white;
	color: black;
}

.footer {
	background-color: var(--main-bgc);
}

.footer p {
	padding: 10px;
	color: white;
	text-align: center;
}
